.animated-badge {
    animation: spin-bounce 2s linear infinite;
  }
  
  @keyframes spin-bounce {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }